.numberInputControl__input {
  font-size: inherit;
  font-family: inherit;

  color: var(--primary-color);

  padding: 0.75em 1em;

  border-radius: 0;

  background-color: var(--primary-background);

  border: var(--secondary-color) solid 1px;

  box-shadow: inset 0 1px 5px 0 rgba(10, 10, 10, 0.2);
}

.numberInputControl__input::placeholder {
  color: var(--secondary-color);
  opacity: 1;
}

.numberInputControl__input:disabled {
  box-shadow: none;
}

.numberInputControl__input {
}
