.theme {
  --gap-factor: 0.75;
  --gap-size: 2.5em;
}

.theme_mode_light {
  --secondary-background: whitesmoke;
  --primary-background: white;

  --secondary-color: rgb(175, 175, 175);
  --primary-color: dimgray;
  --accent-color: darkorange;
  --dynamic-accent-color: orange;
  --critical-color: crimson;
}

.theme_mode_dark {
  --secondary-background: #282c35;
  --primary-background: #363c48;

  --secondary-color: darkgrey;
  --primary-color: white;
  --accent-color: lightsalmon;
  --dynamic-accent-color: orange;
  --critical-color: salmon;
}

@media (prefers-color-scheme: dark) {
  .theme_mode_auto {
    --secondary-background: #282c35;
    --primary-background: #363c48;

    --secondary-color: darkgrey;
    --primary-color: white;
    --accent-color: lightsalmon;
    --dynamic-accent-color: orange;
    --critical-color: salmon;
  }
}

@media (prefers-color-scheme: light) {
  .theme_mode_auto {
    --secondary-background: whitesmoke;
    --primary-background: white;

    --secondary-color: rgb(175, 175, 175);
    --primary-color: dimgray;
    --accent-color: darkorange;
    --dynamic-accent-color: orange;
    --critical-color: crimson;
  }
}

*:focus {
  outline: 4px solid var(--dynamic-accent-color);
}

a:active,
button:active {
  outline: 4px solid var(--dynamic-accent-color);
}
