.screen-layout__wrapper {
  display: inline-block;

  min-width: 100%;
  min-height: 100vh;

  text-align: center;

  padding: calc(1em + 5vw);
  box-sizing: border-box;

  background-color: var(--secondary-background);
}

.screen-layout__inner {
  display: inline-block;
  text-align: initial;

  max-width: 30em;
  width: 100%;
}
