.text {
  white-space: pre-wrap;
  word-break: break-word;
}

.text_color_secondary {
  color: var(--secondary-color);
}

.text_color_primary {
  color: var(--primary-color);
}

.text_color_accent {
  color: var(--accent-color);
}

.text_color_critical {
  color: var(--critical-color);
}

.text_size_s {
  font-size: 0.75em;
}

.text_size_m {
  font-size: 1em;
}

.text_size_l {
  font-size: 1.25em;
}
