.animation {
  display: flex;
}

.animation_name_endlessRotation {
  transform-origin: center;

  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
