.text-control__text-area,
.text-control__input {
  font-size: inherit;
  font-family: inherit;

  color: var(--primary-color);

  padding: 0.75em 1em;

  border-radius: 0;

  background-color: var(--primary-background);

  border: var(--secondary-color) solid 1px;

  box-shadow: inset 0 1px 5px 0 rgba(10, 10, 10, 0.2);
}

.text-control__text-area::placeholder,
.text-control__input::placeholder {
  color: var(--secondary-color);
  opacity: 1;
}

.text-control__text-area:disabled,
.text-control__input:disabled {
  box-shadow: none;
}

.text-control__input {
}

.text-control__text-area {
  resize: none;
  min-height: 6em;
}
