.grid-layout__wrapper {
  display: contents;

  --next-gap-size: calc(var(--gap-size) * var(--gap-factor));
}

.grid-layout__slot {
  display: grid;
}

.grid-layout__slot_gap_auto {
  gap: var(--next-gap-size);

  --gap-size: var(--next-gap-size);
}

.grid-layout__slot_mainAxis_x {
  grid-auto-flow: column;
}

.grid-layout__slot_mainAxis_y {
  grid-auto-flow: row;
}

.grid-layout__slot_primaryAlignment_start {
  justify-content: start;
}

.grid-layout__slot_primaryAlignment_end {
  justify-content: end;
}

.grid-layout__slot_primaryAlignment_center {
  justify-content: center;
}

.grid-layout__slot_primaryAlignment_stretch {
  justify-content: stretch;
}

.grid-layout__slot_primaryAlignment_spread {
  justify-content: space-around;
}

.grid-layout__slot_primaryAlignment_apart {
  justify-content: space-between;
}

.grid-layout__slot_secondaryAlignment_start {
  align-items: start;
}

.grid-layout__slot_secondaryAlignment_end {
  align-items: end;
}

.grid-layout__slot_secondaryAlignment_center {
  align-items: center;
}

.grid-layout__slot_secondaryAlignment_stretch {
  align-items: stretch;
}

.grid-layout__slot_secondaryAlignment_spread {
  align-items: space-around;
}

.grid-layout__slot_secondaryAlignment_apart {
  align-items: space-between;
}
