.action-control {
  font-size: inherit;
  font-family: inherit;

  color: var(--primary-color);

  background: none;

  border: none;
  border-radius: 0;

  padding: 0;
}

.action-control:disabled {
  color: var(--secondary-color);
}
